*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.main{
    background: url(assets/Images/bg.jpg);
    height: 70vh;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

}
.blur{
    background: #000;
    height: 100%;
    opacity: 63%;
    z-index: 1;
}
.logo{
    height: 100%;
    
}
.nav{
    display: flex;
    z-index: 10;
    height: 10vh;
    width: 100%;
    position: absolute;
    top: 0px;
    justify-content: space-around;
    margin: 0px auto;
    align-items: center;

}
